---
layout: _base
---

{% include "partials/_hero" %}


<div class="l-grid l-grid-wide">


  {% if pagination.items %}
    <ul class="posts-archive list-content post-list">
      
      {% for post in pagination.items limit:1 %}
        <div class="card-presentation">
          <a class="image" 
           alt="Colagem com diversos elementos vinculados a Caio Amaro, um pedaço de página de um livro de Machado de Assis, um coluna grega da ordem jônica, um selo do Comics Code Authority, o colar do personagem Dante do jogo Devil May Cry 3, um óculos do super-herói Demolidor, uma partitura da uma música do jogo BloodBorne e também um frasco de sangue do mesmo jogo. Em destaque está uma ilustração estilizada baseada no meu rosto. Ela mostra uma pessoa de pele branca, com barba e bigode baixos, olhos castanhos e cabelo preto. Está com um meio sorriso e vestindo um terno preto, uma camiseta social amarela e uma gravata preta. Há vários elementos vinculado ao super-herói demolidor na ilustração, como dois chifres desenhados em cima da testa, um logo com as letras DD no terno e no fundo da imagem há a representação de um sensor em um fundo vermelho."
            href="/about/">
          </a>
          
        </div>
        <div class="card-wrapper-principal {{ post.data.tags | join: " " }}">
          {% render "components/full-card-principal.liquid"
             , samePage: true
             , image: post.data.thumbnail
             , title: post.data.title
             , url: post.data.permalink
             , text: post.data.description
             , timeread: post.data.timeread
             , tags: post.data.tags %}
          </div>
      {% endfor %}

      {% for post in pagination.items offset:1 %}
          <div class="card-wrapper {{ post.data.tags | join: " " }}">
          {% render "components/full-card.liquid"
              , samePage: true
             , image: post.data.thumbnail
             , title: post.data.title
             , url: post.data.permalink
             , text: post.data.description
             , timeread: post.data.timeread
             , tags: post.data.tags %}
          </div>
      {% endfor %}
    </ul>

    {% include "partials/_pagination" %}
  {% else %}
    {{ content }}
  {% endif %}
</div>
