// @TODO - maybe better place for this?
.l-main {
  padding-bottom: calc(200vw * var(--tilt-tan));
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background-page);
}

.l-grid {
  display: grid;
  column-gap: var(--horizontal-spacing);
  position: relative;
  > * {
    grid-column: 2 / -2;
  }
}

.main-content{
  @media (max-width: 800px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.l-grid-normal {
  grid-template-columns: 1fr minmax(0, var(--max-width, #{$max-width})) 1fr;
}

.l-grid-wide{
  grid-template-columns: 1fr minmax(0, var(--max-width, #{$max-width--wide})) 1fr;
}


.l-grid--content {
  > iframe {
    margin:auto
  }
}
