<div class="quote-portfolio">
  <p class="quote-quotation-mark-portfolio">
  <label style="color: {{ markcolor }}">
     {% include "images/quotation-mark" %}
  </label>
  </p>
  <p class="quote-text-portfolio" style="color: {{ quotecolor }}">
    {{quote}}
  </p>
</div>
