<div class="quote">
  <p class="quote-quotation-mark">
  <label>
     {% include "images/quotation-mark" %}
  </label>
  </p>
  <p class="quote-text">
    {{quote}}
  </p>
  <p class="quote-author">
    {{author}}
  </p>