.full-card-link {
  text-decoration: none;
  color: $text;
  min-width: var(ss-min-with);
  width: 100%;
  height: 588px;
  @media (max-width: 1288px) and (min-width: 800px) {
    width: 100%;
    min-width: 780px;
    max-height: 300px;
  }
}

.full-card {
  width: 100%;
  height: 100%;

  @media (max-width: 1288px) and (min-width: 800px) {
    display: flex;
    height: 100%;
  }

  @media (min-width: 800px) {
    filter: drop-shadow;
  }
 .image-card{
  width: 100%;
  min-width: var(ss-min-width);
  height: 300px;
  overflow: hidden;

  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;

  @media (max-width: 1288px) and (min-width: 800px) {
    width: 340px;
  }
 }
  .image:hover{
    transform: scale(1.3);
  }
  .image{
    transition: 1s ease;
  }

  .image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .card-content {
    background-color: var(--color-background-card);
    font-size: .75em;
    height: 288px;
    width:100%;
    overflow: hidden;

    @media (max-width: lg) {
      border: 1px solid $blue-dark;
      border-top: none;
      padding-top: 0px;
    }
    @media (max-width: 1288px) and (min-width: 800px) {
      width: calc(100% - 420px);
      padding-left: 20px;
      height: 300px;
    }

    .card-tags {
      height: 28px;
      width: 100%;
      overflow: hidden;
      margin-top: 16px;

      @media (max-width: 1288px) and (min-width: 800px) {
        width: 100%;
        margin-top: 0;
        height: 28px;
      }

      span {
        background-color: var(--color-background-card-tag);
        font-weight: 600;
        color: var(--color-card-tag-text);
        height: 28px;
        display: inline-block;

        @media (max-width: 1288px) and (min-width: 800px) {
          margin-top: 0;
        }

        &:not(:last-child) {
          margin-right: 6px;
        }
      
        padding: 4px 8px;
        font-size: 12px;
        cursor: pointer;

        /*font-family: var(--ff-tag);*/
        letter-spacing: 1.8px;
        text-decoration: none;
        --color-link: var(--color-link-2);
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    h2, p {
      margin: 0;
      font-weight: 600;
      font-size: 24px;

      @media (max-width: 1288px) and (min-width: 800px) {
        font-size: 28px;
      }
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 8px;
      overflow: hidden;
      max-height: 122px;
      display: table-cell;
      vertical-align: middle;
      font-family: var(--ff-title);
      font-size: 36px;
      font-weight: 500;
      color: var(--color-text);
      
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      -webkit-box-pack: center;
      overflow: hidden;
      
      @media (max-width: 1288px) and (min-width: 800px) {
        max-height: 136px;
      }
      

    }
    .content-description{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      -webkit-box-pack: center;
      overflow: hidden;
      font-family: var(--ff-body);
      font-size: 16px;
      /*max-height: 128px*/
      margin-top: 8px;

      @media (max-width: 1288px) and (min-width: 800px) {
        font-size: 20px;
      }
    }
  }
  .card-content-text{
    height: 168px;
    display: table-cell;
    vertical-align: middle;

    a {
      text-decoration: none;
    }


  }
  .card-reading-time{
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    -webkit-box-pack: center;
    overflow: hidden;
    font-family: var(--ff-title);
    color: var(--color-link-alt);
  }
}


/*novo caio cards*/

.timeline,
.timeline::before,
.timeline::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 127px;
}

.timeline {
  min-height: 100vh;
  display: grid;
  align-content: center;
 gap: 2rem;
  padding: 2rem;
  /*background: var(--bgColor);*/
}

.timeline h1 {
  text-align: center;
}
/* grid */
.timeline ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
.timeline ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;

}


.timeline ul li .timeline-card {
  /*--dateH: 3rem;
  height: var(--dateH);*/
  margin-inline: calc(var(--inlineP) * -1);
/*
  text-align: center;*/
  /*background-color: var(--accent-color);*/

  color: var(--color-text);


  display: flex;
  place-content: center;
  position: relative;
  justify-content: flex-start;

  /*border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);*/
}

/* card flap *//*
.timeline ul li .timeline-card::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}
*/

/* circle */
.timeline ul li .timeline-card::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--color-background-page);
  border: 0.3rem solid var(--accent-color);
 border-radius: 50%;
  top: 14px;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr *//*
.timeline ul li .title,
.timeline ul li .descr {
  background: var(--color-background-page);
  position: relative;
  padding-inline: 1.5rem;
}*/
/*
.timeline ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;

}
*//*
.timeline ul li .descr {
  padding-block-end: 1.5rem;

}*/

/* shadows *//*
.timeline ul li .title::before,
.timeline ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.timeline ul li .title::before {
  bottom: calc(100% + 0.125rem);
}*/
/*
.timeline ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}
*/
@media (min-width: 840px) {
  
  .timeline-card-content {
     max-width: 240px;

  }
  .timeline-card-badge  {
    min-width: 150px;
  }
  .timeline-card-badge-cover{
  max-width: 150px;
min-width: 150px;
  }
 
  .timeline-card-badge-year{
  width: 60px;
  font-weight: 600;
  font-size: 30px;
  margin-top: -10px;
  margin-right: 2px;
}
  .timeline ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline ul::before {
    grid-column: 2;
  }
  .timeline ul li:nth-child(odd) {
    grid-column: 1;
  }
  .timeline ul li:nth-child(even) {
    grid-column: 3;
  }
  /* start second card */
  .timeline ul li:nth-child(2) {
    grid-row: 2/4;
  }
  .timeline ul li:nth-child(odd) .timeline-card::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
   
  }
    .timeline ul li:nth-child(odd) .timeline-card::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }
  .timeline ul li:nth-child(odd) .timeline-card::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    padding-right: 10px;
  }
    .timeline ul li:nth-child(even) .timeline-card {
    padding-left: 10px;
  }
  .timeline ul li:nth-child(odd) .timeline-card {
     display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
   /* border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;*/
  }
  .timeline ul li:nth-child(odd) .timeline-card-badge-header {
    display: flex;
    flex-direction: row-reverse;
   /* border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;*/
  }
  .timeline ul li:nth-child(odd) .timeline-card-badge {

    margin-left: 16px;
   /* border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;*/
  }
}

.timeline-card-badge{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  max-width: 100px;
}


.timeline-card-content{
  width:100%;
  max-width: 470px;
}
.timeline-card-badge-header{
  width: 150px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.timeline-card-badge-type{
  background-color: var(--color-background-card-tag);
  padding: 4px;
  color: var(--color-card-tag-text);
}
.timeline-card-badge-cover{
  width:100%;
  max-width: 100px;
  background-color: orange;
  border: 4px solid;
  border-color: var(--color-background-card-tag);
  background-color: red;
}
.timeline-card-content{
  padding-bottom: 16px;
  padding-left: 16px;
}
.timeline-card-content-name{
  font-weight: 600;
  font-size: 24px;
  text-align: left;
}
.timeline-card-content-author{
  font-size: 20px;
  text-align: left;
}
.timeline-card-content-analisis{
  font-size: 14px;
  text-align: left;
  margin-top: 12px;
    
}
.timeline-card-content-favorite .padrao{
  display: none;
}
.timeline-card-content-favorite{
  text-align: left;
  background-color: var(--color-background-card-presentation);
  width: min-content;
  padding-left: 5px;
  padding-right: 5px;
}
.notdone{
  opacity: 0.5;
  filter: grayscale(100%);
}

.timeline-card-badge-year {
    width: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-top: -2px;
    margin-right: -8px;}