/*Estilo forçado para o botão da newsletter do KIT*/
.form-newsletter-kit{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.formkit-form {
    border: 0 !important;
    max-width: 1000px!important;
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.seva-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.formkit-form .formkit-fields {
    flex-wrap: nowrap!important;
}
.formkit-field{
  max-width: 200px;
  margin-right: 10px!important;
}
.formkit-submit {
  max-width: 140px;
}
.formkit-submit > span{
  padding: 15px 24px!important;
}

.formkit-form h2 {
  margin:0!important;
}
.formkit-form .formkit-header {
    margin: 0 0 0 0!important;
}
.formkit-guarantee{
  font-size: 0px!important;
}
/*Fim do Estilo forçado para o botão da newsletter do KIT*/
/*Aqui para baixo é o estilo não mais usado configurado para o botão da antiga newsletter do ButtonDown*/
.nl-form{
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  height: 200px;
}
.nl-header{
  padding-top: 12px;
  width: 100%;
  position: relative;
      align-items: center;
    justify-content: center;
   display:flex;
    /* flex-wrap: nowrap; */
    align-content: stretch;
    flex-direction: column;
}
.nl-button{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
}
.nl-text{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nl-button-text{  
    box-sizing: border-box;
    border: 2px solid rgb(140, 14, 72);
    font-family: Lora;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 1.25rem;
    color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 6px 0px 0px 6px;
    outline: none;
}
.nl-button-bt{
  box-sizing: border-box;
  border: 2px solid var(--color-background-bottom);
  color: white;
  font-family: Lora;
  margin: 0px;
  background-color:  var(--color-background-bottom-button);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem 1.25rem;
  width: 100%;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  max-width: 136px;
}
.nl-body-button, .nl-buttondown{
  width: 100%;
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
/*Fim do estilo não mais usado configurado para o botão da antiga newsletter do ButtonDown*/

