.site-portfolio-header {
  --max-width: #{$max-width--wide};
  --color-link: var(--color-link-header);
  --color-link-alt: var(--color-link-header-alt);
  --color-focus: var(--color-link-header);
  --header-bg: var(--color-background-header);

  min-width: 360px;
  padding: $small-spacing 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  color: var(--color-text-light);
  background-color: var(--header-bg);
  margin-top: 65px;
/*
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background-color: var(--header-bg);
    opacity: var(--header-opacity, 1);
  }*/

  .header-menu {
    margin-left: auto;
        margin-right: auto;
    }
}
