---
title: Tags
author: Caio Amaro
layout: _base

pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
---

{% include "partials/_hero" %}

<div class="l-grid l-grid-wide">
  {% if pagination.items %}
    <ul class="posts-archive list-content post-list">
      {% for post in collections[ tag ] | reverse %}
        <div class="card-wrapper {{ post.data.tags | join: " " }}">
          {% render "components/full-card.liquid"
                  , samePage: true
                  , image: post.data.thumbnail
                  , title: post.data.title
                  , url: post.data.permalink
                  , text: post.data.description
                  , timeread: post.data.timeread
                  , tags: post.data.tags %}
        </div>
      {% endfor %}
    </ul>
    {% include "partials/_pagination" %}
  {% else %}
    {{ content }}
  {% endif %}
</div>