<form class="nl-form"
  action="https://buttondown.com/api/emails/embed-subscribe/caioamaro"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/caioamaro', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <div class="nl-header">
  <h2>Newsletter de Caio Amaro</h2>
  <p>Receba meus novos textos direto no seu e-mail!</p>
  </div>
  <div class="nl-body-button">
    <div class="nl-button">
    <input class="nl-button-text" placeholder="informe seu e-mail" autocomplete="email" type="email" name="email" id="bd-email" />
    <input class="nl-button-bt" type="submit" value="Se Inscreva!" />
    </div>
  </div>
  <div class="nl-buttondown">
    <a href="https://buttondown.com/refer/caioamaro" target="_blank">Powered by Buttondown.</a>
  </div>
</form>