<div class="site-portfolio-header l-grid l-grid-normal" role="banner">
    <div class="site-header__content">
        <div id="header-menu" class="header-menu" >
        <nav class="header-nav" name="Primary">
            <a class="header-nav__link {% if active-livros %} portfolio-menu-selected {% endif %} " href="/portfolio-livros/"   > Livros </a>
            <a class="header-nav__link {% if active-hqs %} portfolio-menu-selected {% endif %}" href="/portfolio-hqs" for="hqs"> HQs </a>
            <a class="header-nav__link {% if active-ilustracoes %} portfolio-menu-selected {% endif %}" href="/portfolio-ilustracoes" for="ilustracoes"> Ilustrações </a>
        </nav>
        </div>
    </div>
</div>
